.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
body{
	background-color: #0b0a10;
        font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif;
}
a{
	text-decoration: none !important;
	color: white !important;
}
.carousel-control-next-icon{
	background-image: url('../images/icons/play-button.png') !important;
	width: 32px !important;
	height: 32px !important;
}
.carousel-control-prev-icon{
	background-image: url('../images/icons/play-prev.png') !important;
	width: 32px !important;
	height: 32px !important;
}
.bgpink{
    background-color: rgba(0,0,0,0.5);
}

.bgblack{
	background-color: #0b0a10;
    
}
.scroll-fix{
	position: fixed !important;
	top: 0 !important;
	background-color: rgba(0,0,0,1) !important;
    transition: 0.7s;
}
.fix-pos{
	position: fixed;
    transition: 0.7s;
}
@font-face{
	font-family: avenirroman;
	src: url('../fonts/avenir-roman.otf');
}
@font-face{
	font-family: avenirbold;
	src: url('../fonts/avenir-bold.otf');
}
@font-face{
	font-family: begumbold;
	src: url('../fonts/begum-bold.otf');
}
@font-face{
	font-family: begumreg;
	src: url('../fonts/begum-regular.otf');
}
.about-us-link{
        font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif;
    font-size:12px;
}
.upper-header{
	font-family: avenirbold;
	font-size: 11px;
	z-index: 200;
}
/*
.upper-header>div>div{
    height: 23px;
}
*/

.upper-header-logo{
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 60%;
    background-position: 0 0;
    
     
}


.upper-header-logo>a{
    font-size:14px;
}
.upper-header-logo:hover{
    background-color: pink;
    background-position: 0 -70px;
}
.upper-header-contact{
	background-color: white;
	border-radius: 16px;
    font-size:12px;
}
.upper-header-contact a{
	color: black !important;
}

.upper-header-contact a .fa-phone, .upper-header-contact a .fa-envelope{
	color: black !important;
}

.fa-facebook-f, .fa-youtube, .fa-instagram, .fa-twitter, .fa-phone{
	color: black !important;
}
.logo{
	width:16px;
	height: 16px;
}
.site-logo{
	width: 120px;
	height: 80px;
}

.fa{
	color: white !important;
}
.menu-items{
	font-family: avenirroman !important;
	color: white !important;
	list-style:none;
	font-size: 13px;
    transition:2s;
    font-weight: 700;
}
.nav-item:hover{
    border-bottom: 2.2px solid white;
}
.textfield{
	background-color: #1a1c1e !important;
	border-color: #1a1c1e !important;
}
.honeymoon-logo{
	width: 158px;
    height: 80px;
    margin-right: -60px;
}
.input-group-append{
	background-color: #1a1c1e !important;
}
.main-header{
	position: fixed;
	z-index: 100;
	top: 5%;
	background-color: rgba(0,0,0,0);
}
@media only screen and (max-width: 600px) {
  .main-header{
    top: 3% !important;
  }
}
.about-heading{
	    font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif;
    text-transform: uppercase;
}
/*
p{
	font-size: 16px !important;
}
*/
.btnsubmit{
	background-color: #eb3558 !important;
	color: white !important;
	border-radius: 20px !important;
	/*width: 24% !important; */
	font-size: 17px !important;
   
     font-family: avenirroman;!important
}
.divider{
	background-color: white !important;
	margin-left: 5%;
	margin-right: 5%;
}
.destination{
	padding-left: 2px !important;
	padding-right: 2px !important;
	height: 300px;
	position: relative;
}
.destination img{
	width: 100%;
	height: 100%;
	display: block;

}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(11, 10, 16, 0.7);
}
.destination:hover .overlay {
  background-color: rgba(235,53,88,0.7); 
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 20px;
  font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}
.subtext{
	font-style: italic;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;

}
.carousel-indicators li{
	width: 50px !important;
	height: 50px !important;
}
.carousel-indicators img{
	width: 100% !important;
	height: 100% !important;
}
.carousel-indicators{
	bottom:1px !important;
	position: relative !important;
}
.carousel-indicators .row div{
	height: 8%;
}
.parallax{
	background-image: url('../images/travel6.jpg');
	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax_nopic{
	background-image: url('../images/travel5.jpg');
	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: fixed;
}
.element-center{
	margin: 0 auto !important;
	margin-top: 6px !important;
}
.contact-submit{
    font-size: 30px;
}
input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:1px solid white;
}
.bottom-logo{
	width: 150px;
	height: 100px;
}
.contact-list .list-item{
    display: inline-block;
    font-family: avenirroman;!important
}
.about-us-link a{
     font-family: avenirroman;!important
}
.list-item{
    color: aliceblue;
    font-family: avenirroman;!important
    font-size:16px;
}
.contact-icons{
    height: 36px;
    width:36px;
}
.icon-detail{
    font-size: 20px;
    color: antiquewhite;
}
.social-icon{
    height: 5%;
    width:12%;
/*    margin-left: 10%;*/
}
.social-upper{
    height: 25%;
}
.contact-icons-top{
    height: 18px;
    width: 18px;
}
/*
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
*/

.dropdown-menu{
    width: 100%;
    background: rgba(34, 34, 34,0.9);
    max-height: 300px;
    color: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    list-style: none;
    box-sizing: border-box;
    text-align: left;
    margin-top: 15px;
}
.submenu-dark{
    background: rgba(34, 34, 34,1) !important;
}
/*
.dropdown-menu>a{
        color: #ccc;
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
}
*/
.dropdown-item{
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    
   
    text-transform: capitalize;
    font-weight: 700;
}
.dropdown-item:hover{
    background-color: transparent;
}
.dropdown-item > i{
    font-size: 8px;
}

.nav-link{
    text-transform: uppercase !important;
    font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif !important;
    font-weight: 550 !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;

}
.dropdown-item{
    font-size: 12px !important;
    font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif !important;

}
.sub-cat-menu{
/*    display: none;*/
    background-color:black;
}
/*
.dropdown-item-sub{
    display: none;
}*/
.header-detail{
    background-color:black;
}
/*
.day_detail{
    border-right: 2px solid white;
}
*/


/*
.gallery {
     width:300px;
     height:200px;
     position: relative;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.gallery-image{
cursor:pointer;
		position: relative;
		display: block;
	}

	.gallery-text{
	    position: absolute;
	    top: 0; right: 0;
	    bottom: 0; left: 0;
	    width: 300px;
	    height: 200px; 
	    text-align: center;
	    background-color: rgba(0,0,0,0.8);
	    opacity: 0;
	    -webkit-transition: opacity 0.6s;
	    -moz-transition: opacity 0.6s;
	    transition: opacity 0.6s;
       vertical-align:middle;
       line-height:200px;
	}

	.gallery-text:hover{
	    opacity: 1;      
	}

	.gallery-text h3{
	    color: white;
	    display: inline-table;
       vertical-align:middle;
       line-height:100%;            
	}
*/


.location-img {
    position: relative;
/*
    width: 500px;
    height: 500px;
*/
/*    background: gray;*/
}

.centered {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
/*    background: gold;*/
    padding: 2rem;
}
.h{
    position: fixed;
    font-family: serif;
    font-weight: bold;
    font-size: 50px;
    
}
.package-head{
    color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 50px;
}
.packages-detail-btn{
 
  background-color: #eb3558 !important;
	color: white !important;
	border-radius: 20px !important;
/*	width: 24% !important; */
	font-size: 11px !important;
    font-family: avenirroman; !important
}
.price{
  color: #eb3558 ;
    font-size: 15px;
    font-family: avenirroman; !important
}
.place{
    font-family: avenirroman; !important
    font-size:10px;!important
    
}
.days{
    font-family:avenirroman; !important
    font-weight:bolder;!important
}
.card{
    border: 2px solid black;
    
}
.day_number>h4{
   color: #eb3558 ;
}

.day_detail>p{
    color:aquamarine;
    font-family: avenirroman;
    font-weight: 700;
}
.day_detail{
    color:aquamarine;
    font-family: avenirroman;
    font-weight: 500;
}
/*
.pills-tabContent{
    color: white;!important
}*/
.nav-pills .nav-link.active ,.nav-link{
    background-color: transparent;!important
    
    color: aquamarine;!important
    text-transform: uppercase;!important
}
.nav-pills .nav-link.active ,.nav-link{
text-decoration: none;!important
}
.nav-link{
    font-family: avenirroman;
    font-weight: 700;
}

#pills-inclusion,#pills-exclusion{
    color: white;!important
}
.testimonial-row{
    display: block;
    padding-top: 100px;
   
}
.testimonial-left,.testimonial-right{
    border: 1px solid white;
}
.inverted-c{
    height: 110px;
    width: 110px;
}
.testimonial_pic{
    height: 220px; 
    width: 200px;
}
.test-name{
/*    text-align: center;*/
    margin-top: 19px;
    padding-bottom: 7px;
    border-bottom: 1px solid;
    font-family: avenirroman;
    
}
.test-text{
    text-align: left;
    font-family: avenirroman;
    font-size: 13px;
}
.des-text{
    font-family: avenirroman;
    font-size:10px;
}


/*ABOUT US CSS*/
.about-heading{
 color: #eb3558 ;!important;
    text-transform: capitalize;
font-family: avenirroman;
}
.about-div,.founder-div{
    padding:90px; !important
}
.founder-img{
    height:50px;!important
    width: 50px;!important
}

.team-div{
/*
	padding-left: 2px !important;
	padding-right: 2px !important;
*/
    margin-left: 6%;
	height: 400px;
/*	position: relative;*/
    border: 1px solid white;
}
.team-div img{
    
    width: 100%;
    height: 300px;
/*
	width: 100%;
	height: 100%;
	display: block;
*/

}
.person-name{
    font-weight: bold;
    font-family: avenirroman;!important
    font-size: 30px;!important
}
.person-designation{
    
    font-family: avenirroman;!important
    font-size: 10px;!important
}


/*HOTEL CSS*/

.hotel-head{
    color: #eb3558 ;!important;
     
}
.hotel-detail{
    color: white;!important
    
}
.hotel-head, .hotel-detail{
    font-family: avenirroman;!important
    font-size: 20px;!important
}
#pills-hotel{
    font-size: 20px; !important
}
.it-btn{
    width: 250px;!important
}
.tab-pane{
    min-height: 300px;!important
}
