.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
body{
	background-color: #0b0a10;
}
.carousel-control-next-icon{
	background-image: url('../images/icons/play-button.png') !important;
}
.carousel-control-prev-icon{
	background-image: url('../images/icons/play-prev.png') !important;
}
.bgpink{
	background-color: #eb3558;
}

.bgblack{
	background-color: #0b0a10;
}
.scroll-fix{
	position: fixed !important;
	top: 0 !important;
	background-color: rgba(11, 10, 16, 1) !important;
}
@font-face{
	font-family: avenirroman;
	src: url('../fonts/avenir-roman.otf');
}
@font-face{
	font-family: avenirbold;
	src: url('../fonts/avenir-bold.otf');
}
@font-face{
	font-family: begumbold;
	src: url('../fonts/begum-bold.otf');
}
@font-face{
	font-family: begumreg;
	src: url('../fonts/begum-regular.otf');
}
.upper-header{
	font-family: avenirbold;
	font-size: 12px;
}
.logo{
	width:16px;
	height: 16px;
}
.site-logo{
	width: 84px;
	height: 60px;
}
.fa{
	color: white !important;
}
.menu-items{
	font-family: avenirroman !important;
	color: white !important;
	list-style:none;
	font-size: 14px;
}
.textfield{
	background-color: #1a1c1e !important;
	border-color: #1a1c1e !important;
}
.honeymoon-logo{
	width: 24px;
	height: 24px;
}
.input-group-append{
	background-color: #1a1c1e !important;
}
.main-header{
	position: absolute;
	z-index: 100;
	background-color: rgba(11, 10, 16, 0.7);
}
.about-heading{
	font-family: begumreg;
}
p{
	font-size: 16px !important;
}
.btnsubmit{
	background-color: #eb3558 !important;
	color: white !important;
	border-radius: 20px !important;
	width: 24% !important; 
	font-size: 14px !important;
}
.divider{
	background-color: white !important;
	margin-left: 10%;
	margin-right: 10%;
}
.destination{
	height: 300px;
	position: relative;
}
.destination img{
	width: 100%;
	height: 100%;
	display: block;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  opacity: 0;
  transition: .5s ease;
  background-color: #eb3558;
}
.destination:hover .overlay {
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: begumbold;
  font-size: 24px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}