.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
body{
	background-color: #0b0a10;
}
a{
	text-decoration: none !important;
	color: white !important;
}
.carousel-control-next-icon{
	background-image: url('../images/icons/play-button.png') !important;
	width: 32px !important;
	height: 32px !important;
}
.carousel-control-prev-icon{
	background-image: url('../images/icons/play-prev.png') !important;
	width: 32px !important;
	height: 32px !important;
}
.bgpink{
/*	background-color: #eb3558;*/
    background-color: rgba(0,0,0,0.5);
}

.bgblack{
	background-color: #0b0a10;
}
.scroll-fix{
	position: fixed !important;
	top: 0 !important;
	background-color: rgba(0,0,0,1) !important;
    transition: 0.7s;
}
.fix-pos{
	position: fixed;
    transition: 0.7s;
}
@font-face{
	font-family: avenirroman;
	src: url('../fonts/avenir-roman.otf');
}
@font-face{
	font-family: avenirbold;
	src: url('../fonts/avenir-bold.otf');
}
@font-face{
	font-family: begumbold;
	src: url('../fonts/begum-bold.otf');
}
@font-face{
	font-family: begumreg;
	src: url('../fonts/begum-regular.otf');
}
.upper-header{
	font-family: avenirbold;
	font-size: 14px;
	z-index: 200;
}

.logo{
	width:16px;
	height: 16px;
}
.site-logo{
	width: 120px;
	height: 80px;
}

.fa{
	color: white !important;
}
.menu-items{
	font-family: avenirroman !important;
	color: white !important;
	list-style:none;
	font-size: 14px;
}
.textfield{
	background-color: #1a1c1e !important;
	border-color: #1a1c1e !important;
}
.honeymoon-logo{
	width: 108px;
}
.input-group-append{
	background-color: #1a1c1e !important;
}
.main-header{
	position: fixed;
	z-index: 100;
	top: 5%;
	background-color: rgba(0,0,0,0);
}
@media only screen and (max-width: 600px) {
  .main-header{
    top: 3% !important;
  }
}
.about-heading{
	font-family: begumreg;
}
p{
	font-size: 16px !important;
}
.btnsubmit{
	background-color: #eb3558 !important;
	color: white !important;
	border-radius: 20px !important;
	width: 24% !important; 
	font-size: 14px !important;
}
.divider{
	background-color: white !important;
	margin-left: 10%;
	margin-right: 10%;
}
.destination{
	padding-left: 2px !important;
	padding-right: 2px !important;
	height: 300px;
	position: relative;
}
.destination img{
	width: 100%;
	height: 100%;
	display: block;

}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(11, 10, 16, 0.7);
}
.destination:hover .overlay {
  background-color: rgba(235,53,88,0.7); 
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 13%;
  font-family: 'Raleway','Helvetica Neue',Arial,Verdana,sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.subtext{
	font-style: italic;
	font-size: 14px;
	font-weight: initial;
	text-align: left;
	text-transform: uppercase;

}
.carousel-indicators li{
	width: 50px !important;
	height: 50px !important;
}
.carousel-indicators img{
	width: 100% !important;
	height: 100% !important;
}
.carousel-indicators{
	bottom:1px !important;
	position: relative !important;
}
.carousel-indicators .row div{
	height: 8%;
}
.parallax{
	background-image: url('../images/sliderimg1.jpg');
	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.element-center{
	margin: 0 auto !important;
	margin-top: 6px !important;
}
.contact-submit{
    font-size: 30px;
}
input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:1px solid white;
}
.bottom-logo{
	width: 150px;
	height: 100px;
}
.contact-list .list-item{
    display: inline-block;
}
.list-item{
    color: aliceblue;
    font-size:16px;
}
.contact-icons{
    height: 5%;
    width:5%;
}
.icon-detail{
    font-size: 20px;
    color: antiquewhite;
}
.social-icon{
    height: 5%;
    width:12%;
/*    margin-left: 10%;*/
}
.social-upper{
    height: 25%;
}
.contact-icons-top{
    height: 18px;
    width: 18px;
}